@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>Kurier</h2>
        <a class="btn btn-success" data-toggle="tooltip" asp-controller="Courier" asp-action="Create">Dodaj</a>
        <a class="btn btn-success" data-toggle="tooltip" asp-controller="Courier" asp-action="CourierList">Lista</a>
    </div>
