@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model IEnumerable<CourierApp.Core.ViewModels.Packages.PackagesListViewModel>

@{
    ViewData["Title"] = "Moje paczki";
    var courierId = Url.ActionContext.RouteData.Values["id"];
}

<h3>Paczki do doręczenia</h3>

@(Html
      .Grid(Model)
      .Build(columns =>
      {
          columns.Add(model => model.CustomerEmail).Titled("E-mail");
          columns.Add(model => model.Address).Titled("Adres dostawy");
          columns.Add(model => model.Status).Titled("Status");
          columns.Add(model => Html.ActionLink("Doręcz", "Delivered", "Package", new { id = model.Id, courierId = @courierId }, new { @class = "btn btn-primary" }));
      })
      .Empty("Brak danych")
      .Filterable()
      .Sortable()
    .Pageable(pager =>
    {
        pager.ShowPageSizes = true;
    }
))

