@model CourierApp.Core.ViewModels.Packages.ChangePackageCourierViewModel

@{
    ViewData["Title"] = "Przypisz paczki kurierowi";
}


<div class="row">
    <div class="col-md-12">
        <section>
            <form method="post">
                <h2>Przypisywanie paczek</h2>
                <hr />
                <div class="row">
                    <div class="col-md-8">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Klient</th>
                                    <th scope="col">Adres doręczenia</th>
                                    <th scope="col">Przypisz</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.EditorFor(m => m.Packages)
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="CourierId"></label>
                            @Html.DropDownListFor(m => m.CourierId, Model.Couriers, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="col-md-12 btn btn-success">Zatwierdź</button>
                </div>
            </form>
        </section>
    </div>
</div>