@model CourierApp.Core.ViewModels.Packages.ChangePackageCourierViewModel

@{
    ViewData["Title"] = "Odbierz paczki z magazynu";
}


<div class="row">
    <div class="col-md-12">
        <section>
            <form method="post">
                <h2>Odbiór paczek</h2>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Klient</th>
                                <th scope="col">Adres doręczenia</th>
                                <th scope="col">Odbierz</th>
                            </tr>
                            </thead>
                            <tbody>
                            @Html.EditorFor(m => m.Packages)
                            </tbody>
                        </table>
                    </div>
                    @Html.HiddenFor(x => x.CourierId)
                </div>
                <div class="form-group">
                    <button type="submit" class="col-md-12 btn btn-success">Zatwierdź</button>
                </div>
            </form>
        </section>
    </div>
</div>