@model CourierApp.Core.ViewModels.Packages.CreatePackageViewModel

@{
    ViewData["Title"] = "Dodaj paczkę";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <section>
            <form id="account" method="post">
                <h2>@ViewData["Title"]</h2>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Address"></label>*
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>*
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CourierId"></label>
                    @Html.DropDownListFor(m => m.CourierId, Model.Couriers, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Dodaj paczkę</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}