@using Org.BouncyCastle.Math.EC.Rfc7748
@model CourierApp.Core.ViewModels.Packages.GetPackagesListsViewModel

@{
    ViewData["Title"] = "Moje paczki";
}

<h1>Lista paczek</h1>
<br />
@{ Html.RenderPartial("_InProgressPackageList", Model.InProgress); }
<br/><br />
@{ Html.RenderPartial("_DeliveredPackageList", Model.Delivered); }
